/* write your override styles here */
.tag-1{
  width:20px;
  height: 100px;
}
body{
  display:flex;
}
#tag-2{
  margin:10%;
}
#tag-3{
  color:red;
}
#tag-4{
  color:red;
}
#tag-5{
  color:red;
}
#tag-6{
  color:red;
}
#tag-7{
  color:red;
}
